NODE_ENV=development
PORT=4000

FRONTEND_URL=http://localhost:5173

DB_HOST=127.0.0.1
DB_PORT=5433
DB_NAME=nexo_turnos
DB_USER=nexo_user
DB_PASSWORD=****

JWT_ACCESS_SECRET=****
JWT_REFRESH_SECRET=****

JWT_ACCESS_EXPIRES=4h
JWT_REFRESH_EXPIRES=7d

MAIL_ENABLED=true
MAIL_HOST=smtp-relay.brevo.com
MAIL_PORT=2525
MAIL_SECURE=true
MAIL_USER=a52362001@smtp-brevo.com
MAIL_PASS=****
MAIL_FROM=contacto@nicogaliciastylistmens.com
MAIL_FROM_NAME=Nico Galicia Stylist Men

BUSINESS_PUBLIC_NAME=Nico Galicia Stylist Men
BUSINESS_WHATSAPP=+5493585737060